/* HEADER */
.header {
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	/* box-sizing: border-box; */
}
.header button {
	border-color: #2bb3bb;
	border-width: 0.5px;
	color: #2bb3bb;
	height: 28px;
	border-radius: 5px;
	background-color: #fff;
}
.search {
	height: 35px;
	width: 350px;
	border-radius: 5px;
	background-color: #f5f6f7;
	border: none;
}
.logo {
	height: 50px;
}
/* HERO BANNER */
.banner {
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}
/* MAIN PAGE */
.product-main {
	display: flex;
	flex-wrap: wrap;
	/* background-color: green; */
	align-content: space-between;
	justify-content: space-between;
	text-decoration: none;
}
.images {
	height: 300px;
	width: 250px;
}
.product {
	/* background-color: red; */
	margin-bottom: 30px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	box-shadow: inset;
}
